
{% load i18n %}
{% if leaderboard|length %}
<div class="scores-container">
    <div class="leaderboard-title">{% translate "Leaderbord for" %} <b>{{event.name}}</b></div>
    <table class="scores-table">
        <thead>
        <tr>
            <th>№</th>
            <th>{% translate "User" %}</th>
            <th>{% translate "Points" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr>
                <td class="position">{{ user.1.1 }}</td>
                <td class="username">{{ user.0 }}</td>
                <td class="points">{{ user.1.0 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}