
{% load i18n %}

<div class="scores-container">
    <div class="leaderboard-title">{% translate "Leaderbord for" %} <b>{{event.name}}</b></div>
    <table class="scores-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr>
                <td class="username">{{ user.0 }}</td>
                <td class="points">{{ user.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
