


{% if event_list %}
    {% for event in event_list  %}
    <div class="challenges-container" id="ev-chs-{{event.id}}">
        <h>{{ event.name }}:</h>
        {% if all_challenges %}
            {% for challenge in all_challenges %}
                {% if challenge.event == event %}
                    
                    <div class="list-view-wrapper">
                        <div class="list-view-challenge-container" id="list-view-challenge-{{challenge.id}}"
                        hx-trigger="intersect once click delay:0.1s"
                        hx-get="{% url 'challenges:challenge_simple_info' challenge_type=challenge.challenge_type challenge_id=challenge.id  %}"
                        hx-swap="innerHTML"
                        >
                            <div style="height: 50vh;">
                            </div>
                            
                        </div>
                        <a href="{% url 'challenges:challenge_detail' challenge_type='CH' challenge_id=challenge.id %}">More info.</a>
                    </div>
                {% endif%}
            {% endfor %}
        {% else %}
            <p>No challenges are available.</p>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}




<div style="background-color: grey; padding: 5px; margin-bottom: 20px;">
    <a id="new-challenge-link" type="submit" style="color: white;" href="{% url 'challenges:create_challenge' 99 %}">Create new challenge</a>
</div>
