{% load i18n %}
    <div class="notification-item" 
        hx-post="{% url 'userinteraction:read_notification' notification.id %}"
        hx-trigger="click"
        hx-swap="none"
        data-target-url="{% url 'challenges:challenge_detail' challenge_type=notification.parent.challenge_type challenge_id=notification.parent.id  %}"
    >
        <span class="notification-text">{% blocktranslate with message=notification.message user=notification.user %}New comment: {{ message }}{% endblocktranslate %}</span>
    </div>