{% extends 'base.html' %}
{% load i18n %}

{% block title %}Ska4ai{% endblock %}

{% block content %}
<div class="container center-container" >
    <div class="submission-container">
        {% include './challenge_simple_info.html' with challenge=challenge visuals=visuals likes_count=likes_count %}


        {% if user.id == challenge.user.id %}
        <button class="blue-button" type="submit" 
            onclick="location.href='{% url 'challenges:edit_challenge' challenge_type=challenge.challenge_type challenge_id=challenge.id %}'">
            {% translate "Edit Challenge." %}
        </button>

        <button class="blue-button" type="submit" 
            onclick="location.href='{% url 'challenges:delete_challenge' challenge_type=challenge.challenge_type challenge_id=challenge.id %}'">
            {% translate "Delete challenge." %}
        </button>
        {% endif %}
    </div>

    <div class="submissions-container" >
        {% if submissions %}
            <h3>{% translate "Submissions:" %}</h3>
            {% for submission in submissions %}
                <div class="submission-container">
                    {% include 'submissions/submission_simple_info.html' with submission=submission %}
                    <button class="blue-button"
                        onclick="location.href='{% url 'submissions:submission_detail' submission.id %}'">
                        {% translate "Detailed view." %}
                    </button>
                </div>
            {% endfor %}
        {% else %}
            <p>{% translate "No submissions are available." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}