{% load i18n %}
<div class="submission-container" >
        <div class="challenge_info_container" >
            <div class="moderation-title"><h3>{% translate "Main Challange" %}</h3></div>
            {% include 'challenges/challenge_simple_info.html' with challenge=submission.challenge visuals=challenge_visuals likes_count=likes_count %}
        </div>  
        <div class="">
            <div class="moderation-title"><h3>{% translate "Submission" %}</h3></div>
            {% include './submission_simple_info.html' with submission=submission %}
        </div>
</div>
