{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}My Django Project{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "ska4ai/css/base.css" %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap JS and dependencies -->
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
   
 
    {% comment %} <!-- Custom CSS (if any) -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
    {% block css %}
    <!-- Page specific css can go here -->
    {% endblock %}
    <script>
        var apiKey = 'the api key main';
        console.log('API Key:', apiKey);
      </script>

</head>

<body  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- Navigation bar -->
    <header class="header">
        <nav>
            <a href="{% url 'index' %}" class="text-logo"><span class="">ska</span><span class="four-logo">4</span><span class="">ai</span></a>
            <ul class="list">
                {% comment %} # &#160;&#160; makes the two links separate on IOS... {% endcomment %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:myprofile' %}">Hi {{ user.username }}!&#160;&#160;</a></li>
                    <li>
                        <form action="{% url 'account_logout' %}" method="post">
                            {% csrf_token %}
                            <button class="loginout-btn" type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <button class="loginout-btn" type="submit">Login</button>
                        </form>
                    </li>
                    {% comment %} <li><a href="{% url 'accounts:signup' %}">Signup</a></li> {% endcomment %}
                {% endif %}
                <button type="button"
                        class="icon-button"
                        type="submit"
                        {% if user.is_authenticated %}
                            onclick="openNotifications()"
                            hx-get="{% url 'userinteraction:get_notiications_count' %}"
                            hx-trigger="intersect once click"
                            hx-target="#notiications_count"
                            hx-swap="innerHTML"
                        {% endif %}
                        >
                    <span class="material-icons">notifications</span>
                    <span id="notiications_count" class="icon-button__badge">0</span>
                  </button>
                <li><a href="{% url 'accounts:myprofile' %}">About</a></li>
            </ul>
          </nav> 
    </header>


      
   {% comment %}  <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Ska4ai</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Contact</a>
                    </li>
                </ul>
            </div> 
            <div id="view-switcher" style="flex-grow: 5; text-align: center;">
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="switchView()">Switch view</button>
            </div>

            <div class="user-accounts" >
                {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='{% url 'accounts:myprofile' %}'">My profile</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='{% url 'logout' %}'">Logout</button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='{% url 'login' %}'">Login</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='{% url 'accounts:signup' %}'">Signup</button>
                {% endif %}
            </div>
        </nav>
    </header>{% endcomment %}
   {% comment %} <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{% url 'index' %}" class="text-logo"><span class="text-logo">Ska</span><span class="four-logo">4</span><span class="text-logo">ai</span></a>
        {% if user.is_authenticated %}
        <a href="#">Hi {{ user.username }}!</a>
        <button class="blue-button" type="submit" onclick="location.href='{% url 'accounts:myprofile' %}'">My profile</button>
        <button class="blue-button" type="submit" onclick="location.href='{% url 'logout' %}'">Logout</button>
        {% else %}
            <button class="blue-button" type="submit" onclick="location.href='{% url 'login' %}'">Login</button>
            <button class="blue-button" type="submit" onclick="location.href='{% url 'accounts:signup' %}'">Signup</button>
        {% endif %}
        {% block sidePanelItems %}
        <!-- Page specific sidepanel items go here -->
        {% endblock %}
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
      
      <button class="openbtn" onclick="openNav()">☰</button>   {% endcomment %}




    <main role="main" class=""  >

        <div id="overlay" class="overlay" onclick="closePopup()"></div>
        <div id="notification-popup" class="popup">
            <button class="close-button stylish-button" onclick="closePopup()"><div>{% include "images/close-square-svgrepo-com.svg" %}</div></button>
            <div id="notification-popup-content"
                    class="center-container"
                    hx-trigger="intersect once click delay:0.1s"
                    hx-get="{% url 'userinteraction:get_notifications' %}"
                    hx-swap="innerHTML"
            >
                ...
            </div>
        </div>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}

    </main>

    {% comment %} <footer class="text-center mt-4">
        <p>&copy; {{ current_year }} My Django Project</p>
    </footer> {% endcomment %}


</body>

{% block extra_js %}
<!-- Page specific js can go here -->
{% endblock %}   
<script>

    function openGoogleMaps(lat, lng) {
        // Mobile device detection
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            window.open(`https://www.google.com/maps?api=1&q=${lat},${lng}`, '_blank');
            // Attempt app link first
            //window.location.href = `comgooglemaps://?api=1&q=${lat},${lng}&center=${lat},${lng}&zoom=15`;
            // window.open('https://www.google.com/maps/search/?api=1&query={{challenge.latitude}},{{challenge.longitude}}','_blank')
            // Fallback to web maps
            {% comment %} setTimeout(() => {
                window.open(`https://www.google.com/maps?api=1&q=${lat},${lng}`, '_blank');
            }, 500); {% endcomment %}
        } else {
            // Desktop fallback
            alert("Desktop fallback!");
            window.open(`https://www.google.com/maps?q=${lat},${lng}`, '_blank');
        }
    }

    function openNotifications() {
        document.getElementById("notification-popup").style.display = 'flex';
        document.getElementById('overlay').style.display = 'block';
    }


    // Function to close popup
    function closePopup() {
        const popups = document.querySelectorAll(".popup");
        popups.forEach((popup) => {
            popup.style.display = 'none';
        });
        document.getElementById('overlay').style.display = 'none';
    }

</script>

<script type="text/javascript"  src="{% static 'ska4ai/js/base.js' %}"></script>
</html>
